<% VideoInfo.provider_api_keys = { youtube: 'AIzaSyAdo38I0lemPp5gZvo6ejA0n2fnmK346iM', vimeo: 'YOUR_VIMEO_API_KEY' } %>  
        <div class="transitions-enabled">
        <% @links.each do |link| %>
        <% video_url = link.url %>
        <% video = VideoInfo.new(video_url) %>
            <div id="links">
            <div class='panel panel-default box'>
            <div class="img"><%= image_tag(video.thumbnail_medium) %>
                <div class="btn upvoted"><%= link.get_upvotes.size %> <span class="glyphicon glyphicon-heart"></span></div>  
                <div class="time btn">
            <% time = video.duration %>
            <%= Time.at(time).gmtime.strftime('%R:%S') %>
                </div>
            </div>
        <div class="panel-body">   
            <div class="box-title"><%= link_to video.title, link %></div>
            <div class="small description"><%= truncate(video.description, :length => 200) %></div>
            <small class="user"> Enviado em <time_ago_in_words(link.created_at) %> por <%= link.user.name %></small>
            </h2>
            <div class="buttons">
                <a class="btn btn-primary btn-sm" href="<%= link.url %>">Assistir</a>
                <%= link_to like_link_path(link), method: :put, class: "btn btn-primary btn-sm" do %>
                <span class="glyphicon glyphicon-heart"></span>
                Gostei
                <% end %>
            </div>
      </div>
  </div>
</div>
 <% end %>      
</div>       
     